<html>
<link rel="stylesheet" href="board.css">

<body>
    <div class=" ">
        <div class="left">
            <div class="team">
                <h1>Attackers: team1</h1>
            </div>

        </div>

        <div class="right">
            <div class="team">
                <h1>Defensers: team2</h1>
            </div>

        </div>
        <div class="score_left">
            <h2 style="text-align: left; margin: 30px; font-size: 30px;">212</h2>
        </div>
    </div>
    <div class="score_right">
        <h2 style="text-align: right; margin: 30px; font-size: 30px;">1488</h2>
    </div>
    <div class="round">
        <h1>Round: 122</h1>
    </div>
    </div>

    <div class='tasks'>
        <div class="task_up">
            <h3 style="font-size: 18px;">task1</h3>
            <h4 style="font-size: 18px;">Flags: 1488<br>Uptime: none</h4>
        </div>
        <!--div class="task_mumble">
            <h3>task1</h3>
            <h4 >Flags: 1488<br>Upti: - none</h4>
        </div>
        <div class="task_corrupt">
            <h3>task1</h3>
            <h4>Flags: 1488<br>Uptime: none</h4>
        </div>
        <div class="task_down">
            <h3>task1</h3>
            <h4>flag_count<br>Uptime: none</h4>
        </div-->


    </div>
    <div class="line">
        <img src="../line/switcher.png" style="position: absolute; margin-top: 13px; margin-left: 43.5%" height="90"
            width="35">
        <!--min = -2.5%, max = 89.5-->
        <img src="../line/line.png" height="50" width="500" style="margin-top: 40px;">
    </div>

</body>

</html>